.app-background {
    background-image: url('../images/app-background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.app-background-overlay {
    background-color: #ffffff80;
    height: auto;
    display: block;
}