body {
    font-family: 'Roboto', sans-serif !important;
}

.app-background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

[data-bs-theme="dark"] .app-background {
    background-image: url('../images/app-background-dark.png');
}


[data-bs-theme="dark"] .app-background-overlay {
    background-color: #4b4b4b38;
    height: auto;
    display: block;
}






.pointer-cursor {
    cursor: pointer !important;
}

[data-bs-theme="dark"] .fc-theme-bootstrap5 .fc-list,
[data-bs-theme="dark"] .fc-theme-bootstrap5 .fc-scrollgrid,
[data-bs-theme="dark"] .fc-theme-bootstrap5 td,
[data-bs-theme="dark"] .fc-theme-bootstrap5 th {
    border: 1px solid #363636 !important;
}

[data-bs-theme="dark"] .fc-col-header {
    background-color: #4b4b4b !important;
}

