.btn-outline-vote {
    border-style: dashed !important;
    border-width: 1px !important;
    transition: all 0.3s ease-in-out;
}

.btn-outline-vote-2 {
    border-color: #4BA569 !important;
}

.btn-outline-vote-2:hover {
    border-color: #4BA569 !important;
    background-color: #4ba56928 !important;
}

.btn-outline-vote--1 {
    border-color: #D90000 !important;
}

.btn-outline-vote--1:hover {
    border-color: #D90000 !important;
    background-color: #d9000028 !important;
}

.btn-outline-vote-0 {
    border-color: #696969 !important;
}

.btn-outline-vote-0:hover {
    border-color: #696969 !important;
    background-color: #69696928 !important;
}


.btn-outline-vote-1 {
    border-color: #D2B74B !important;
}

.btn-outline-vote-1:hover {
    border-color: #D2B74B !important;
    background-color: #d2b74b28 !important;
}

.voting-card {
    transition: all 0.3s ease-in-out;
    height: 120px !important;
    border-radius: 0 !important;
}

.voting-card-body {
    background-color: transparent !important;
}


.voting-card-clickable {
    cursor: pointer;
}

.voting-card-clickable:hover {
    background-color: #f0f0f0;
}


.add-option-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


/* Vzhled pozadí karet */
.voting-card-0 {
    background-color: #69696920 !important;
}

.voting-card-2 {
    background-color: #4ba56920 !important;
}

.voting-card-1 {
    background-color: #d2b74b20 !important;
}

.voting-card--1 {
    background-color: #d9000020 !important;
}
